<div class="card jumbotron mt-4 p-3">
    <h1 class="display-4"> Note App Nodejs  And MongoDB  </h1>
    <p class="lead"> Lorem ipsum hola como estan hola como estasn</p>
    <hr class="my-4">
    <p> jjhadKJHSAJKHDSAHDASJHDASJKDHSAJKDHKJASHJSAFHSAKJFHASJKHFKJSAHFJKASHFJASHFKJASFHSA
        KDHSASJKDHSAJKDHSAJDHSAJDHASJKDHKJSAHDASJKDHJASKHDJASDHSAHUHASUDHOASHOIDSAJOIAS </p>
    <a href="www.google.com"class="btn btn-primary btn-lg" >APP WEB </a>   
 
</div>
